<div class="result-message">
  <div class="container">
    <div class="result-key-message">
      <h3>We are sorry.</h3>
    </div>
    <div class="result-detail-message">
      <p>Thank you for backing <%= @project.name %>! We will keep you updated.</p>
    </div>
  </div>
</div>
