<section class="section2">
  <div class="container">
    <div class="message text-center">
      <h2 class="big-title">The votes will start <span>NOW!</span></h2>
      <p class="small-title">We will send you the latest updates! </p>
      <%= link_to 'BACK TO HOME', root_path, class: "button large" %>
    </div><!-- end message -->
  </div><!-- end container -->
</section><!-- end section2 -->
